.demo{
    background-color: red;
    display: flex;
    justify-content: space-between;
    margin: 10px;
   
}
.demo-card{
    background-color: white;
    width: 100px;
    margin: 10px;
  
}

.sean{
    background-color: gray;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.sean-card{
    background-color:green;
    width: 100px;
    margin: 10px;   
}


    